# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments & virtual environment
venv/
env/
.env

# VS Code settings
.vscode/

# Logs
*.log

# Streamlit cache
.streamlit/

# Python environment files
*.egg-info/
